
body {
    font-family: Arial, sans-serif;
    background-color: white; 
    margin: 0;
    padding: 0;
}


header {
    background-color: #06087e; 
    color:  #06087e; 
}

header .navbar-brand {
    color:  #06087e; 
    
}

header .nav-link {
    
    color:  #06087e; 
    margin-right: 20px;
}

header .nav-link:hover {
    text-decoration: underline;
}


.container {
    max-width: 1000px;
    margin: auto;
}


button.btn-primary {
    background-color: #06087e; 
    border: none;
}

button.btn-success {
    background-color: #28a745;
    border: none;
}

button.btn-warning {
    background-color: #ffc107;
    border: none;
}

button:hover {
    opacity: 0.9;
}


form {
    background-color: #f8f9fa; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #06087e; 
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f1f1f1;
}


#studentFormContainer, #studentListContainer {
    margin-top: 40px;
}

h1, h2 {
    color: #06087e; 
}
