body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: antiquewhite;
}

h1{
    text-align: center;
    color: #333;

}

table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid #333;
}

th, td{
    padding: 10px;
    text-align: center;
}

button{
    padding: 5px 10px;
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: palevioletred;

}

#stundentList{
    margin-top: 20px;
    display: none;
}

ul li{
   background-color: aliceblue;  
}